# Composer specific
composer.phar
/vendor/

# Avoid commiting secret keys
secretKeys.php

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# Skip entire folder:
/.idea

# JIRA plugin
atlassian-ide-plugin.xml

# environment variable
.env